body {
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    background-color: #fff;
}

section {
    margin: 10px;
    padding: 10px;
}
