body {
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    background-color: #fff;
}

section {
    margin: 10px;
    padding: 10px;
}

a {
    color: #0070c9;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 8px 0px;
}

.footer {
    padding: 20px 20px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.api-table {
    border-collapse: collapse;
}

.api-table,
th,
td {
    border: 1px solid black;
    padding: 10px;
}

.api-table {
    width: 800px;
}

.api-table th {
    background-color: #F2F2F2;
}

.api-table .key {
    font-weight: bold;
    width: 220px;
}

.api-navi {
    position: fixed;
    left: 10px;
    top: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}

.api-navi ol {
    padding: 0px 15px;
}

.api-navi ol li {
    padding: 4px 2px;
}

.api-document {
    padding-left: 150px;
}

.api-document p {
    text-align: justify;
}

.label-fields {}

.label-fields .key {
    margin: 0px 4px 0px 0px;
}

.label-fields .value {
    margin: 0px 18px 0px 0px;
}
